SWAzam/Peer/src/main/java/at/ac/tuwien/swa/SWAzam/Peer/Peer2ServerConnector/soap/PeerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.9-b14002 svn-revision#14004. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Peer2ServerConnector.Server.SWAzam.swa.tuwien.ac.at/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Peer2ServerConnector.Server.SWAzam.swa.tuwien.ac.at/" name="PeerWebServiceSoapService">
<types>
<xsd:schema>
<xsd:import namespace="http://Peer2ServerConnector.Server.SWAzam.swa.tuwien.ac.at/" schemaLocation="http://localhost:9003/PeerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="reduceCoins">
<part name="parameters" element="tns:reduceCoins"/>
</message>
<message name="reduceCoinsResponse">
<part name="parameters" element="tns:reduceCoinsResponse"/>
</message>
<message name="addCoins">
<part name="parameters" element="tns:addCoins"/>
</message>
<message name="addCoinsResponse">
<part name="parameters" element="tns:addCoinsResponse"/>
</message>
<message name="validateUser">
<part name="parameters" element="tns:validateUser"/>
</message>
<message name="validateUserResponse">
<part name="parameters" element="tns:validateUserResponse"/>
</message>
<message name="requestIssued">
<part name="parameters" element="tns:requestIssued"/>
</message>
<message name="requestIssuedResponse">
<part name="parameters" element="tns:requestIssuedResponse"/>
</message>
<portType name="PeerWebServiceSoap">
<operation name="reduceCoins">
<input wsam:Action="http://Peer2ServerConnector.Server.SWAzam.swa.tuwien.ac.at/PeerWebServiceSoap/reduceCoinsRequest" message="tns:reduceCoins"/>
<output wsam:Action="http://Peer2ServerConnector.Server.SWAzam.swa.tuwien.ac.at/PeerWebServiceSoap/reduceCoinsResponse" message="tns:reduceCoinsResponse"/>
</operation>
<operation name="addCoins">
<input wsam:Action="http://Peer2ServerConnector.Server.SWAzam.swa.tuwien.ac.at/PeerWebServiceSoap/addCoinsRequest" message="tns:addCoins"/>
<output wsam:Action="http://Peer2ServerConnector.Server.SWAzam.swa.tuwien.ac.at/PeerWebServiceSoap/addCoinsResponse" message="tns:addCoinsResponse"/>
</operation>
<operation name="validateUser">
<input wsam:Action="http://Peer2ServerConnector.Server.SWAzam.swa.tuwien.ac.at/PeerWebServiceSoap/validateUserRequest" message="tns:validateUser"/>
<output wsam:Action="http://Peer2ServerConnector.Server.SWAzam.swa.tuwien.ac.at/PeerWebServiceSoap/validateUserResponse" message="tns:validateUserResponse"/>
</operation>
<operation name="requestIssued">
<input wsam:Action="http://Peer2ServerConnector.Server.SWAzam.swa.tuwien.ac.at/PeerWebServiceSoap/requestIssuedRequest" message="tns:requestIssued"/>
<output wsam:Action="http://Peer2ServerConnector.Server.SWAzam.swa.tuwien.ac.at/PeerWebServiceSoap/requestIssuedResponse" message="tns:requestIssuedResponse"/>
</operation>
</portType>
<binding name="PeerWebServiceSoapPortBinding" type="tns:PeerWebServiceSoap">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="reduceCoins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCoins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="requestIssued">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PeerWebServiceSoapService">
<port name="PeerWebServiceSoapPort" binding="tns:PeerWebServiceSoapPortBinding">
<soap:address location="http://localhost:9003/PeerWebService"/>
</port>
</service>
</definitions>